// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }


  // Differently colored bullets from text
	ul {
		padding: 0 0 0 15px;
		list-style-type: none;
		li {
			line-height: 22px;
			padding: 5px 0 5px 0;
			&:before {
				content: '\2022';
				display: inline-block;
				position: relative;
				font-size: 20px;
				line-height: 16px;
				padding: 0 5px 0 0;
				color: @brand-primary;
			}
		}
	}

}


// Responsive video - common js function dependent on .videoWrapper & sub iframe style
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

